body {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #013034;
}

#container {
    margin: auto;
    padding: 40px;
    width: 800px;
    background-color: #417C81;
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
    color: whitesmoke;
}

h3 {
    margin-bottom: 50px;
}

ul {
    list-style: none;
}

#list {
    display: inline-block;
    text-align: left;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}

.assignment {
    padding: 10px;
    overflow: auto;
    border: 2px solid teal;
    margin: 10px 0px;
    width: 500px;
    background-color: whitesmoke;
}

.preview {
    float: right;
}
